
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i>Todos os usuários</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Atualizar Usuário</h2>
            <span class="text-light">Use o formulário abaixo para atualizar os dados</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <input type="hidden" name="id" value="<%= user._id %>">
            <label for="Email" class="text-light">E-mail</label>
            <input type="text" name="ds_email" value="<%= user.ds_email%>" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="password" class="text-light">Senha</label>
            <input type="password" name="ds_password" value="<%= user.ds_password%>" placeholder="Digite a senha">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Atualizar</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
